*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
main{
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width: 200px;
    background-color: white;
    border-radius: 7px;
    padding: 20px;
}
.card div{
    position: relative;
    overflow: hidden;
}
.card img{
    width: 100%;
    border-radius: 7px;
    object-fit: cover;
}
.card h2{
    color: black;
    text-align: center;

}
.card i{
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    background-image: url(https://imgs.search.brave.com/vPqOKfTDn-6nNy95ljOK0ExX_ia1hnS_WQlkeGRjHBs/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2MzL2M5/L2I2L2MzYzliNjJi/M2M3MTFmNzE2MjQ0/ZGZiZmM3OTI0NTJl/LmpwZw);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
    transform: translate(-50%,-50%) scale(0) rotate(-60deg);
    transition: all cubic-bezier(.87,.98,.64,1.45) 0.4s ;
}