*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body, html{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.elem{
    height: 100px;
    width: 400px ;
    background-color: rgb(172, 141, 141);
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h2{
    color: black;
    font-size: 24px;
    font-weight: 500;

}
button{
    font-size: 18px;
    padding: 5px 10px;
    font-weight: 500;
    color: white;
    border: none;
    background-color: rgb(47, 47, 221);
}
